Source: droidian-fpd-client
Section: misc
Priority: optional
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Build-Depends: debhelper-compat (= 13),
               qtbase5-dev | qtbase5-gles-dev,
               cmake,
               g++,
               libc6-dev,
               libupower-glib-dev,
               bash,
               dh-exec

Package: droidian-fpd-client-legacy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: droidian-fpd-client
Replaces: droidian-fpd-client
Breaks: droidian-fpd-client
Description: Droidian fingerprint client
  Droidian fingerprint enrollment and client.
